<h3>Player Rounds</h3>

<table class="table">
  <thead>
    <tr>
      <th>Course</th>
      <th>User</th>
      <th>Round date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.course_id %></td>
        <td><%= round.user_id %></td>
        <td><%= round.round_date %></td>
        <td><%= link_to 'Show', round %></td>
        <td><%= link_to 'Edit', edit_round_path(round) %></td>
        <td><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if !current_user.nil? %>
	<%= link_to 'New Round', new_round_path %>
<% end %>