<% myselected = Rails.application.config.state_select %>
<% myselected[state] = "selected" %>
<select name="<%= name %>" id="<%= id %>" class="<%= cssclass %>" style="<%= cssstyle %>">
	<option value="" <%= myselected['NONE'] %>></option>
	<option value="AL" <%= myselected['AL'] %>>Alabama</option>
	<option value="AK" <%= myselected['AK'] %>>Alaska</option>
	<option value="AZ" <%= myselected['AZ'] %>>Arizona</option>
	<option value="AR" <%= myselected['AR'] %>>Arkansas</option>
	<option value="CA" <%= myselected['CA'] %>>California</option>
	<option value="CO" <%= myselected['CO'] %>>Colorado</option>
	<option value="CT" <%= myselected['CT'] %>>Connecticut</option>
	<option value="DE" <%= myselected['DE'] %>>Delaware</option>
	<option value="DC" <%= myselected['DC'] %>>District Of Columbia</option>
	<option value="FL" <%= myselected['FL'] %>>Florida</option>
	<option value="GA" <%= myselected['GA'] %>>Georgia</option>
	<option value="HI" <%= myselected['HI'] %>>Hawaii</option>
	<option value="ID" <%= myselected['ID'] %>>Idaho</option>
	<option value="IL" <%= myselected['IL'] %>>Illinois</option>
	<option value="IN" <%= myselected['IN'] %>>Indiana</option>
	<option value="IA" <%= myselected['IA'] %>>Iowa</option>
	<option value="KS" <%= myselected['KS'] %>>Kansas</option>
	<option value="KY" <%= myselected['KY'] %>>Kentucky</option>
	<option value="LA" <%= myselected['LA'] %>>Louisiana</option>
	<option value="ME" <%= myselected['ME'] %>>Maine</option>
	<option value="MD" <%= myselected['MD'] %>>Maryland</option>
	<option value="MA" <%= myselected['MA'] %>>Massachusetts</option>
	<option value="MI" <%= myselected['MI'] %>>Michigan</option>
	<option value="MN" <%= myselected['MN'] %>>Minnesota</option>
	<option value="MS" <%= myselected['MS'] %>>Mississippi</option>
	<option value="MO" <%= myselected['MO'] %>>Missouri</option>
	<option value="MT" <%= myselected['MT'] %>>Montana</option>
	<option value="NE" <%= myselected['NE'] %>>Nebraska</option>
	<option value="NV" <%= myselected['NV'] %>>Nevada</option>
	<option value="NH" <%= myselected['NH'] %>>New Hampshire</option>
	<option value="NJ" <%= myselected['NJ'] %>>New Jersey</option>
	<option value="NM" <%= myselected['NM'] %>>New Mexico</option>
	<option value="NY" <%= myselected['NY'] %>>New York</option>
	<option value="NC" <%= myselected['NC'] %>>North Carolina</option>
	<option value="ND" <%= myselected['ND'] %>>North Dakota</option>
	<option value="OH" <%= myselected['OH'] %>>Ohio</option>
	<option value="OK" <%= myselected['OK'] %>>Oklahoma</option>
	<option value="OR" <%= myselected['OR'] %>>Oregon</option>
	<option value="PA" <%= myselected['PA'] %>>Pennsylvania</option>
	<option value="RI" <%= myselected['RI'] %>>Rhode Island</option>
	<option value="SC" <%= myselected['SC'] %>>South Carolina</option>
	<option value="SD" <%= myselected['SD'] %>>South Dakota</option>
	<option value="TN" <%= myselected['TN'] %>>Tennessee</option>
	<option value="TX" <%= myselected['TX'] %>>Texas</option>
	<option value="UT" <%= myselected['UT'] %>>Utah</option>
	<option value="VT" <%= myselected['VT'] %>>Vermont</option>
	<option value="VA" <%= myselected['VA'] %>>Virginia</option>
	<option value="WA" <%= myselected['WA'] %>>Washington</option>
	<option value="WV" <%= myselected['WV'] %>>West Virginia</option>
	<option value="WI" <%= myselected['WI'] %>>Wisconsin</option>
	<option value="WY" <%= myselected['WY'] %>>Wyoming</option>
</select>