<h3>Golf Courses</h3>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>State</th>
			<th>Course Type</th>
			<th></th>
			<% if current_user.has_role? :admin %>
			<th colspan="2"></th>
			<% end %>
		</tr>
</thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.city %></td>
        <td><%= course.state %></td>
        <td><%= course.course_type.name %></td>
		<td><%= link_to "Course Info", course %></td>
		<% if current_user.has_role? :admin %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Delete Course', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if !current_user.nil? and current_user.has_role? :admin %>
<%= link_to 'New Course', new_course_path, class: "btn btn-success" %>
<% end %>