<h3><%= @course.name %> <span style="font-style:italic;">(<%= @course.course_type.name %> Course)</span></h3>

<div class="w100fl">
	<p><%= @course.address1 %></p>
	<p><%= @course.address2 %></p>
	<p><%= @course.address3 %></p>
	<p><%= @course.city %>, <%= @course.state %> <%= @course.zip %></p>
</div>

<div id="google-maps-canvas" class="w100fl" style="margin-bottom:20px;">
	<i>This is where I'll put the google map of the course</i>
</div>

<div class="w100fl">
	<div style="float:left;margin-right:30px;">
		<% if !current_user.nil? and current_user.has_role? :admin %>
			<%= link_to 'Edit', edit_course_path(@course), class: "btn btn-warning" %>
		<% end %>
	</div>
	<div class="w50fl">
		<%= link_to 'Back', courses_path, class: "btn btn-default" %>
	</div>
</div>
