<!DOCTYPE html>
<html>
<head>
	<title>MyGolf</title>
	<%= favicon_link_tag %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<%= root_url %>">
					<span style="margin-right:10px;"><%= image_tag("golfer.png", size: "32") %></span>
					MyGolf
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="golflinks" id="courses-link"><a href="<%= root_url %>courses">Courses</a></li>
					<li class="golflinks" id="rounds-link"><a href="<%= root_url %>rounds">Rounds</a></li>
					<li class="golflinks" id="users-link"><a href="<%= root_url %>users">Players</a></li>
					<% if user_signed_in? %>
						<% link = !current_user.nil? ? edit_registration_path(current_user) : "" %>
						<li class="golflinks" id="users-link-<%= current_user.id %>"><a href="<%= link %>">Account</a></li>
						<% if current_user.has_role? :admin %>
							<li class="golflinks" id="admin-link"><a href="<%= root_url %>admin">Admin</a></li>
						<% end %>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<p class="navbar-text" style="margin-left:15px;">
						<% if user_signed_in? %>
							Logged in as <strong><%= "#{current_user.first_name} #{current_user.last_name}" %></strong>!
							<%= link_to "(logout)", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
						<% else %>
							<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
							<span style="margin-right:10px;margin-left:10px">|</span>
							<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
						<% end %>
						</p>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="mainwrapper" class="container">
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<% uid = !current_user.nil? ? current_user.id : 0 %>
		<input id="current_user_id" value="<%= uid %>" type="hidden" />
		<%= yield %>
	</div>
	<div class="footer">
		<div class="innerfooter tac">
			<div class="footer-content-left">
				<span style="font-style:italic;">Improving your game, one round at a time<span id="footerlocation"></span></span>
			</div>
			<div class="footer-content-right">
				<span>
					Powered by <a href="http://getbootstrap.com" class="cldclr" target="_blank">Bootstrap</a>
				</span>
			</div>
		</div>
	</div>
</body>
</html>
