<!DOCTYPE html>
<html>
<head>
	<title>MyGolf</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header" class="header">
		<div id="headercont" class="header-content">
			<div class="header-logo">
				<div class="logowrapper">
					<div class="title">
						<div id="titlediv" class="titletext">MyGolf</div>
					</div>
				</div>
				<div class="h100fl">
					<div id="datewrapper" class="h100fl">
						<span id="date" class="headspan"></span>
					</div>
				</div>
			</div>
			<div class="header-search" style="width:50% !important;">
				<div class="w100fl h100fl" id="srchcont">
					<% if user_signed_in? %>
						Logged in as <strong><%= "#{current_user.first_name} #{current_user.last_name}" %></strong>!
						<%= link_to "(logout)", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
					<% else %>
						<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
						<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div id="mainwrapper" class="mainwrapper">
		<div class="navwrapper">
			<div id="innernavdiv" class="w100fl h100fl">
				<div id="home-tab" class="navdiv">
					<a href="<%= root_url %>" class="navlink">Home</a>
				</div>
				<div id="rounds-tab" class="navdiv">
					<a href="<%= root_url %>rounds" class="navlink">Add a Round</a>
				</div>

				<div id="courses-tab" class="navdiv">
					<a href="<%= root_url %>courses" class="navlink">Courses</a>
				</div>
				<div id="users-tab" class="navdiv">
					<a href="<%= root_url %>users" class="navlink">Players</a>
				</div>
				<% link = !current_user.nil? ? "#{root_url}users/#{current_user.id}/edit" : "" %>
				<div id="users-tab" class="navdiv">
					<a href="<%= link %>" class="navlink">Manage Account</a>
				</div>
			</div>
		</div>
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<%= yield %>
	</div>
	<div class="footer">
		<div class="innerfooter tac">
			<div class="footer-content-left">
				<span>LivingSocial Data Import<span id="footerlocation"></span></span>
			</div>
			<div class="footer-content-right">
				<span>
					Powered by <a href="https://www.livingsocial.com/" class="cldclr" target="_blank">LivingSocial</a>
				</span>
			</div>
		</div>
	</div>
</body>
</html>
